name: LoadTest

on:
  workflow_dispatch:

jobs:
  check-permissions:
    runs-on: ubuntu-latest

    steps:
    - name: Check User Permissions
      id: check_permissions
      run: echo "User: ${{ github.actor }}"

    - name: Stop Workflow if No Write Access
      if: steps.check_permissions.outputs.user_permissions != 'write'
      run: |
        echo "No permission to run this workflow."
        exit 78 

    - name: Continue Workflow
      run: |
        # Your workflow steps go here
        echo "Workflow continues..."

  # docker:
  #   timeout-minutes: 60
  #   runs-on: ubuntu-latest
  #   strategy:
  #       matrix:
  #         go-version: [ '1.21' ]

  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v4

  #   - name: Start containers
  #     run: docker-compose -f "docker-compose.yml" up -d --build

  #   - name: Setup Go ${{ matrix.go-version }}
  #     uses: actions/setup-go@v4
  #     with:
  #       go-version: ${{ matrix.go-version }}

  #   - name: Install-deps
  #     run: |
  #       sudo apt-get update -qq
  #       sudo apt-get install -qq -y make git curl gcc g++ ca-certificates
  #       git clone https://github.com/edenhill/librdkafka.git -b v1.4.4
  #       cd librdkafka
  #       ./configure --install-deps --prefix /usr
  #       make
  #       sudo make install
  #       cd ..
  #       rm -rf librdkafka
  
  #   - name: Build
  #     run: make build
          
  #   - name: Run tests
  #     run: make test

  #   - name: Stop containers
  #     if: always()
  #     run: docker-compose -f "docker-compose.yml" down